<?php
/**
 * el-galerie
 *
 * Template für das einzelne Produkt in der Listenansicht (wird auch auf der Startseite verwendet)
 *
 * @copyright Copyright (c) 2015 Sven Jungnickel
 */


$backgroundImage = '';
if ( has_post_thumbnail() )  {
    $backgroundImage = "background-image: url('" . wp_get_attachment_image_src(get_post_thumbnail_id(), 'thumbnail')[0] . "')";
}
// die Bootstrap Klassen werden per "Javascript Hack" dem übergeordneten Form-Tag hinzugefügt (siehe Plugin ElgalerieCategoryWidget/js/initial.js)
?>
<!--<div class="col-sm-4 col-md-4 col-lg-4">-->
    <a href="<?= wpsg_url($this->view['data']['url']); ?>" title="<?php echo __('Zur Detailseite des Produkts', 'wpsg'); ?>">
        <div class="start-new-item" style="<?= $backgroundImage; ?>">
            <div class="start-new-item-content">
                <div class="start-new-item-transparency">
                    <div class="start-new-item-inner">
                        <h2><?= $this->getProductName($this->getProduktID($this->view['data']['id'])); ?></h2>
                    </div>
                    <div class="start-new-item-price">
                        <table class="table">
                            <tr>
                                <td>Preis:</td>
                                <td>
                                    <?php if ($this->hasMod('wpsg_mod_discount') && $this->view['data']['preis_prediscount'] > 0 && wpsg_isSizedInt($this->get_option('wpsg_mod_discount_show'))) { ?>
                                        <span class="product-price-sale"><?= wpsg_ff($this->view['data']['preis'], $this->get_option('wpsg_currency')); ?></span>
                                        <span class="product-price-original"><?= wpsg_ff($this->view['data']['preis_prediscount'], $this->get_option('wpsg_currency')); ?></span>
                                    <?php } else { ?>
                                        <?= wpsg_ff($this->view['data']['preis'], $this->get_option('wpsg_currency')); ?>
                                    <?php } ?>
                                </td>
                                <td>
                                    <?php //TODO: Direkt in den Warenkorb legen ?>
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </a>
<!--</div>-->

