<?php

/*
 * Template für das Produkt im Frontend
 */

//Ausgabe der verfügbaren Variablen
//wpsg_debug($this->view['data']);
//var_dump($this->view['data']);

// Damit keine Zubehörprodukte ausgegeben werden
//$this->noReleatedProducts = true;

//wpsg_debug($_SESSION);

?>
<div class="container">
    <div class="row" itemtype="http://schema.org/Product">

        <!-- Breadcrumb -->
        <?php
        //TODO: Breadcrumb-Link an Produktübersichtsseiten anpassen (siehe http://getbootstrap.com/components/#breadcrumbs)
        /* $categories = wp_get_post_categories( get_the_ID() );
        $category = get_category($categories[0]);
        ?>
        <ul class="product-breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
            <li><a href="<?php bloginfo('url');?>">Start</a></li>
            <li>&raquo; </li>
            <li><a href="<?=get_category_link($categories[0]); ?>"><?=$category->name; ?></a></li>
            <li>&raquo; </li>
            <li><?=$this->getProductName($this->view['data']['id']); ?></li>
        </ul>
        <div class="clearfix"></div>
        */ ?>

        <!-- title -->
        <div class="product-title">
            <h1><?php echo $this->getProductName($this->view['data']['id']); ?></h1>
            <!-- subtitle / detail title -->
            <p class="product-subtitle"><?php echo $this->view['data']['detailname']; ?></p>
        </div>

        <!-- Large image left -->
        <?php if ( has_post_thumbnail() )  { ?>
            <?php
                $medium = wp_get_attachment_image_src( get_post_thumbnail_id(), 'medium')[0];
                $large = wp_get_attachment_image_src( get_post_thumbnail_id(), 'large')[0];
            ?>
            <div class="product-image-wrapper col-sm-8 col-md-8 col-lg-8">
                <a class="fancybox" href="<?=$large;?>">
                    <img class="product-image" src="<?=$medium;?>" alt="<?php echo wpsg_hspc($this->view['data']['name']); ?>" />
                </a>
            </div>
        <?php } ?>

        <!-- Product detail infos (price, attributes, basket button, etc...) -->
        <div class="product-details-wrapper col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <?php if ($this->get_option('wpsg_showArticelnumber') == '1') { ?>
                <div class="product-number">
                    <?php echo __('Artikelnummer', 'wpsg'); ?>: <span class="wpsg_anr"><?php echo wpsg_hspc($this->view['data']['anr']); ?></span>
                </div>
            <?php } ?>

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="row product-price-wrapper">

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                    <span class="product-price-title">
                        <?php echo __('Stückpreis:', 'wpsg'); ?>
                    </span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <meta itemprop="priceCurrency" content="<?php echo $this->get_option('wpsg_currency'); ?>" />
                    <span itemprop="price" class="product-price<?php if ($this->hasMod('wpsg_mod_discount') && $this->view['data']['preis_prediscount'] > 0 && wpsg_isSizedInt($this->get_option('wpsg_mod_discount_show'))) { ?> product-price-sale<?php } ?>">
                        <?php echo wpsg_ff($this->view['data']['preis']); ?>&nbsp;<?php echo $this->get_option('wpsg_currency'); ?>
                    </span>
                </div>

                <?php if ($this->hasMod('wpsg_mod_discount') && $this->view['data']['preis_prediscount'] > 0 && wpsg_isSizedInt($this->get_option('wpsg_mod_discount_show'))) { ?>
                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wpsg_produkt_preis new_price col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                        <?php echo __('Originalpreis:', 'wpsg'); ?>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                        <span class="wpsg_preis_prediscount product-price-original">
                            <?php echo wpsg_ff($this->view['data']['preis_prediscount'], $this->get_option('wpsg_currency')); ?>
                        </span>
                    </div>
                <?php } ?>

                <div class="col-xs-offset-6 col-xs-6 col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 col-lg-offset-6 col-lg-6">
                    <?php if ($this->get_option('wpsg_kleinunternehmer')) { /* Kleinunternehmerregelung aktiviert START */ ?>

                        <div class="product-price-info">
                            <?php echo '<a href="'.$this->getURL(wpsg_ShopController::URL_VERSANDKOSTEN).'">'.__('Versandkostenfrei', 'wpsg').'</a>'; ?>
                        </div>

                    <?php } else { /* Kleinunternehmerregelung aktiviert ENDE */ ?>

                        <div class="product-price-info">
                            <?php if ($this->getFrontendTaxview() == WPSG_NETTO) { /* Frontend = NETTO Preise */ ?>
                                <?php echo wpsg_translate(__('(zzgl. #1#% MwSt. und zzgl. #2#)', 'wpsg'), wpsg_ff($this->view['data']['mwst_value']), '<a href="'.$this->getURL(wpsg_ShopController::URL_VERSANDKOSTEN).'">'.__('Versandkosten', 'wpsg').'</a>'); ?>
                            <?php } else { /* Frontend = BRUTTO Preise */ ?>
                                <?php echo wpsg_translate(__('(inkl. #1#% MwSt. und zzgl. #2#)', 'wpsg'), wpsg_ff($this->view['data']['mwst_value']), '<a href="'.$this->getURL(wpsg_ShopController::URL_VERSANDKOSTEN).'">'.__('Versandkosten', 'wpsg').'</a>'); ?>
                            <?php } ?>
                        </div>

                    <?php } ?>
                </div>
            </div>

            <?php /* Lieferzeit Anzeige START */ ?>
            <?php if ($this->hasMod('wpsg_mod_deliverytime') && $this->get_option('wpsg_mod_deliverytime_show_product') == '1') { ?>

                <div class="product-deliverytime">
                    <?php echo wpsg_translate(__('Lieferzeit: #1#', 'wpsg'), $this->callMod('wpsg_mod_deliverytime', 'getProductDeliveryTime', array($this->view['data']['id']))); ?>
                </div>

            <?php } ?>
            <?php /* Lieferzeit Anzeige ENDE */ ?>

            <!-- Product attributes -->
            <?php $this->callMods('product_bottom', array(&$this->view['data']['id'], $this->getTemplateIndex())); ?>

            <!-- basket button -->
            <div class="product-basket-wrapper">
                <input type="hidden" value="1" name="wpsg[menge]" <?php echo (($this->view['data']['basket_multiple'] == 4)?' readonly="readonly" ':''); ?> />

                <?php if (!$this->hasMod('wpsg_mod_request') || $this->callMod('wpsg_mod_request', 'productForSale', array($this->view['data']['id']))) { ?>
                    <input class="btn btn-lg btn-primary btn-block wpsg_add_basket wpsg_add_basket_<?php echo $this->getTemplateIndex(); ?>" type="submit" value="<?php echo __('In den Warenkorb', 'wpsg'); ?>" name="wpsg[submit]" />
                <?php } ?>
            </div>

            <!-- Hinweis Text -->
            <div class="product-info">
                <p><small>Hinweis:</small></p>
                <p><?= get_post_field('post_content', get_page_by_path('reinigungshinweis')); ?></p>
            </div>
        </div>

        <!-- description -->
        <?php if (strlen(trim($this->view['data']['beschreibung'])) > 0) { ?>
            <div class="product-description col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div itemprop="description" class="wpsg_produkt_beschreibung">
                    <?php echo $this->view['data']['beschreibung']; ?>
                </div>
            </div>
        <?php } ?>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<?php bloginfo('template_url');?>/bootstrap/js/jquery.min.js"><\/script>')</script>
<link rel="stylesheet" href="<?php bloginfo('template_url');?>/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="<?php bloginfo('template_url');?>/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".fancybox").fancybox({
            padding : 0
        });

        <?php if ($this->get_option('wpsg_afterinsert') == '2') { ?>
        jQuery('.wpsg_add_basket_<?php echo $this->getTemplateIndex(); ?>').bind('click', function() {
            jQuery.ajax( {
                url: '<?php echo $this->getURL(wpsg_ShopController::URL_BASKET); ?>',
                data:
                {
                    wpsg_form_data: jQuery('#wpsg_produktform_<?php echo $this->getTemplateIndex(); ?>').serialize(),
                    'wpsg[ajax]': '1',
                    'wpsg[submit]': '1'
                },
                success: function()
                {
//                    tb_show('<?php //echo __('Ihr Warenkorb', 'wpsg'); ?>//', '<?php //echo $this->getURL(wpsg_ShopController::URL_BASKET_AJAX); ?>//&height=500');
                    jQuery.fancybox.open({
                        href: '<?php echo $this->getURL(wpsg_ShopController::URL_BASKET_AJAX); ?>',
                        title: '<?php echo __('Ihr Warenkorb', 'wpsg'); ?>',
                        type: 'iframe'
                    });
                }
            } );
            return false;
        } );
        <?php } ?>

        setWrapperHeight();
    });

    jQuery('.product-image').load(function() {
        setWrapperHeight();
    });

    // Höhe des Containers dynamisch an Höhe des Bildes anpassen
    function setWrapperHeight() {
        var imageHeight = jQuery('.product-image-wrapper').height();
        var contentWidth = jQuery('html').width();
        if(contentWidth >= 768) {
            jQuery('.product-details-wrapper').css('height', imageHeight + 'px');
        } else {
            jQuery('.product-info').css('position', 'relative');
        }
    }
</script>