<?php

	/**
	 * Template für den ersten Schritt der Kasse
	 * Kundendaten etc.
	 */
	
	//wpsg_debug($this->view);

?>
<script type="text/javascript">/* <![CDATA[ */

	jQuery(document).ready(function() {

		<?php if ($this->get_option('wpsg_form_validation') == '1') { ?>
		
		if (typeof jQuery.validationEngine == "object")
		{

			jQuery("#form-step2").validationEngine('attach', {promptPosition : "bottomLeft", scroll: false});
				
			jQuery('.wpsg_mod_kundenverwaltung_login').bind('click', function(){
				jQuery("#form-step2").validationEngine('detach');						
			});

		}
		
		<?php } else if ($this->get_option('wpsg_form_validation') == '2') { ?>

		jQuery.validator.addMethod("cRequired", jQuery.validator.methods.required, "<?php echo __('Dieses Feld ist ein Pflichtfeld.', 'wpsg'); ?>");
		jQuery.validator.addClassRules('validate[required]', { cRequired: true } );
		jQuery("#form-step2").validate( { 
			ignore: '',
			errorClass: 'wpsg_error',
			onsubmit: false,
			showErrors: function(errorMap, errorList) {

				this.defaultShowErrors();	

			}
		} ); 

		jQuery('#wpsg_checkout2button').bind('click', function() { 

			var bReturn = jQuery('#form-step2').validate().form();
			if (jQuery('#form-step2 input.wpsg_error').length > 0) jQuery('#form-step2 input.wpsg_error')[0].focus();
			return bReturn;
			  
		} );
		
		<?php } ?>

		jQuery('.wpsg_checkout input').bind('keyup', function(e) {

			if(e.keyCode == 13)
		    {
		        jQuery('#wpsg_checkout2button').click();
		    }
		    
		} );
		
	} );
		
/* ]]> */</script>

<br />
<div>

	<?php echo $this->writeFrontendMessage(); ?>

	<form  id="form-step2-login" method="post" action="<?php echo $this->getURL(wpsg_ShopController::URL_BASKET); ?>" enctype="multipart/form-data">

		<?php /* Einbindung des Logins im Checkout */ ?>
		<?php $this->callMod('wpsg_mod_kundenverwaltung', 'checkout_login'); ?>
	</form>

	<form  id="form-step2" method="post" action="<?php echo $this->getURL(wpsg_ShopController::URL_BASKET); ?>" enctype="multipart/form-data">
		<br />
		<fieldset id="wpsg_box_kundendaten">
			<legend><?php echo __('Kundendaten', 'wpsg'); ?></legend>

			<div class="form-group col-xs-12<?php echo ((in_array("firma", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_firma">
				<label for="firma" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Firma", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['firma'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['firma'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['firma'] != '1') { ?>required="required"<?php } ?> type="text" id="firma" name="wpsg[checkout][firma]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['firma']); ?>" placeholder="<?= __("Firma", "wpsg"); ?>" />
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("title", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_anrede">
				<label for="title" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Anrede", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['anrede'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<select class="form-control <?php echo (($this->view['pflicht']['anrede'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['anrede'] != '1') { ?>required="required"<?php } ?> id="title" name="wpsg[checkout][title]">
						<option value="-1"><?php echo __('Bitte Anrede auswählen', 'wpsg'); ?></option>
						<?php foreach (explode("|", $this->view['pflicht']['anrede_auswahl']) as $t) { ?>
							<option value="<?php echo wpsg_hspc($t); ?>" <?php echo (($this->view['basket']['checkout']['title'] == $t)?'selected="selected"':''); ?>><?php echo $t; ?></option>
						<?php } ?>
					</select>
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("vname", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_vorname">
				<label for="vname" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Vorname", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['vname'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['vname'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['vname'] != '1') { ?>required="required"<?php } ?> type="text" id="vname" name="wpsg[checkout][vname]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['vname']); ?>" placeholder="<?= __("Vorname", "wpsg"); ?>" />
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("name", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_name">
				<label for="name" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Name", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['name'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['name'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['name'] != '1') { ?>required="required"<?php } ?> type="text" id="name" name="wpsg[checkout][name]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['name']); ?>" placeholder="<?= __("Name", "wpsg"); ?>" />
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("email", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_email">
				<label for="email" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("E-Mail Adresse", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['email'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['email'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['email'] != '1') { ?>required="required"<?php } ?> type="email" id="email" name="wpsg[checkout][email]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['email']); ?>" placeholder="<?= __("E-Mail Adresse", "wpsg"); ?>" />
				</div>
			</div>

			<?php if (isset($this->view['pflicht']['emailconfirm']) && $this->view['pflicht']['emailconfirm'] == '1') { ?>
				<div class="form-group col-xs-12<?php echo ((in_array("email", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_email2">
					<label for="email2" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
						<?php echo __("E-Mail wiederholen", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['email'] != '1') { ?>*<?php } ?>:
					</label>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<input class="form-control <?php echo (($this->view['pflicht']['email'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['email'] != '1') { ?>required="required"<?php } ?> type="email" id="email2" name="wpsg[checkout][email2]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['email2']); ?>" placeholder="<?= __("E-Mail wiederholen", "wpsg"); ?>" />
					</div>
				</div>
			<?php } ?>

			<div class="form-group col-xs-12<?php echo ((in_array("geb", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_geburtsdatum">
				<label for="geb" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Geburtsdatum (Format: TT.MM.JJJJ)", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['geb'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['geb'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['geb'] != '1') { ?>required="required"<?php } ?> type="text" id="geb" name="wpsg[checkout][geb]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['geb']); ?>" placeholder="<?= __("Geburtsdatum (Format: TT.MM.JJJJ)", "wpsg"); ?>" />
				</div>
			</div>

			<?php /*
			<div class="form-group col-xs-12<?php echo ((in_array("fax", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_fax">
				<label for="fax" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Fax", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['fax'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['fax'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['fax'] != '1') { ?>required="required"<?php } ?> type="text" id="fax" name="wpsg[checkout][fax]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['fax']); ?>" placeholder="<?= __("Fax", "wpsg"); ?>" />
				</div>
			</div>
			*/ ?>

			<div class="form-group col-xs-12<?php echo ((in_array("tel", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_telefon">
				<label for="tel" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Telefon Nr.", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['tel'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['tel'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['tel'] != '1') { ?>required="required"<?php } ?> type="text" id="tel" name="wpsg[checkout][tel]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['tel']); ?>" placeholder="<?= __("Telefon Nr.", "wpsg"); ?>" />
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("strasse", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_strasse">
				<label for="strasse" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Strasse & Nr.", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['strasse'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['strasse'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['strasse'] != '1') { ?>required="required"<?php } ?> type="text" id="strasse" name="wpsg[checkout][strasse]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['strasse']); ?>" placeholder="<?= __("Strasse & Nr.", "wpsg"); ?>" />
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("plz", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_postleitzahl">
				<label for="plz" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Postleitzahl", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['plz'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['plz'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['plz'] != '1') { ?>required="required"<?php } ?> type="text" id="plz" name="wpsg[checkout][plz]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['plz']); ?>" placeholder="<?= __("Postleitzahl", "wpsg"); ?>" />
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("ort", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_ort">
				<label for="ort" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Ort", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['ort'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['ort'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['ort'] != '1') { ?>required="required"<?php } ?> type="text" id="ort" name="wpsg[checkout][ort]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['ort']); ?>" placeholder="<?= __("Ort", "wpsg"); ?>" />
				</div>
			</div>

			<div class="form-group col-xs-12<?php echo ((in_array("land", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_land">
				<label for="land" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Land", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['land'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<select class="form-control <?php echo (($this->view['pflicht']['land'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['land'] != '1') { ?>required="required"<?php } ?> id="land" name="wpsg[checkout][land]">
						<option value="-1"><?php echo __('Bitte Land auswählen', 'wpsg'); ?></option>
						<?php foreach ($this->view['laender'] as $l) { ?>
							<option value="<?php echo wpsg_hspc($l['id']); ?>" <?php echo (($l['id'] == $this->view['basket']['checkout']['land'])?'selected="selected"':((!wpsg_isSizedInt($this->view['basket']['checkout']['land']) && $this->get_option('wpsg_defaultland') == $l['id'])?'selected="selected"':'')); ?>><?php echo wpsg_hspc(__($l['name'], 'wpsg')); ?></option>
						<?php } ?>
					</select>
				</div>
			</div>

			<?php /*
			<div class="form-group col-xs-12<?php echo ((in_array("ustidnr", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_ustidnr">
				<label for="ustidnr" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("UStIdNr", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['ustidnr'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['ustidnr'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['ustidnr'] != '1') { ?>required="required"<?php } ?> type="text" id="ustidnr" name="wpsg[checkout][ustidnr]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['ustidnr']); ?>" placeholder="<?= __("UStIdNr", "wpsg"); ?>" />
				</div>
			</div>
			*/ ?>

			<?php /* Automatische Einbindung der benutzerdefinierten Felder */ ?>
			<?php if ($this->get_option('wpsg_kundenvariablen_show') == '1') { ?>
				<?php foreach ((array)$this->view['pflicht']['custom'] as $c_id => $c) { if ($c['show'] != '2') { ?>
					<div class="form-group col-xs-12<?php echo ((in_array("custom_".$c_id, (array)$this->view['error']))?' has-error':''); ?>">
						<label class="col-md-3 col-lg-2 control-label hidden-xs hidd" for="wpsg_cv_<?php echo $c_id; ?>">
							<?php echo wpsg_hspc(__($c['name'], 'wpsg')); ?>&nbsp;<?php if ($c['show'] == '0') { ?>*<?php } ?>:
							<?php if ($c['typ'] == '0') { // Textfeld ?>
								<input class="form-control <?php echo (($c['show'] == '0')?'validate[required]':''); ?>" <?php if ($c['show'] == '0') { ?>required="required"<?php } ?> name="wpsg[checkout][custom][<?php echo $c_id; ?>]" type="text" id="wpsg_cv_" value="<?php echo wpsg_hspc($this->view['basket']['checkout']['custom'][$c_id]); ?>" placeholder="<?= wpsg_hspc(__($c['name'], 'wpsg')); ?>" />
							<?php } else if ($c['typ'] == '1') { $arAuswahl = explode("|", $c['auswahl']); // Auswahlfeld ?>
								<select class="form-control <?php echo (($c['show'] == '0')?'validate[required]':''); ?>" <?php if ($c['show'] == '0') { ?>required="required"<?php } ?> name="wpsg[checkout][custom][<?php echo $c_id; ?>]" id="wpsg_cv_">
									<option value="-1"><?php echo __('Bitte Auswählen', 'wpsg'); ?></option>
									<?php foreach ((array)$arAuswahl as $a) { ?>
										<option value="<?php echo wpsg_hspc($a); ?>" <?php echo (($a == $this->view['basket']['checkout']['custom'][$c_id])?'selected="selected"':''); ?>><?php echo wpsg_hspc($a); ?></option>
									<?php } ?>
								</select>
							<?php } else if ($c['typ'] == '2') { // Checkbox ?>
								<div class="checkbox">
									<input type="hidden" name="wpsg[checkout][custom][<?php echo $c_id; ?>]" value="0" />
									<input class="<?php echo (($c['show'] == '0')?'validate[required]':''); ?>" <?php if ($c['show'] == '0') { ?>required="required"<?php } ?> type="checkbox" id="wpsg_cv_" value="1" name="wpsg[checkout][custom][<?php echo $c_id; ?>]" value="1" <?php echo wpsg_hspc(($this->view['basket']['checkout']['custom'][$c_id] == '1')?'checked="checked"':''); ?> />
								</div>
							<?php } ?>
						</label>
					</div>
				<?php } } ?>
			<?php } ?>
			<?php /* Automatische Einbindung der benutzerdefinierten Kundenfelder ENDE */ ?>
			<div class="wpsg_clear"></div>

			<?php $this->callMods('checkout_customer_inner'); ?>

		</fieldset>

		<br />
		<?php $this->callMods('checkout_inner_prebutton', array(&$this->view)); ?>

		<fieldset>
			<legend><?php echo __('Bestellkommentar', 'wpsg'); ?></legend>

			<div class="form-group col-xs-12">
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-6">
					<textarea class="form-control " rows="3" name="wpsg[checkout][comment]" id="wpsg_checkout_comment" placeholder="<?= __('Möchten Sie uns noch etwas mitteilen?', 'wpsg'); ?>"><?php echo wpsg_hspc($this->view['basket']['checkout']['comment']); ?></textarea>
				</div>
			</div>

		</fieldset>
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<?php echo wpsg_translate(__('Mit #1# gekennzeichnete Felder sind Pflichtfelder.', 'wpsg'), '<span>*</span>'); ?>
		</div>
		  
		<br />

		<div class="form-group col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-6 col-md-3 col-lg-offset-6 col-lg-3">
			<input type="submit" onclick="location.href='<?php echo $this->getURL(wpsg_ShopController::URL_BASKET); ?>'; return false;" class="btn btn-block btn-default" value="<?php echo __('zurück zum Warenkorb', 'wpsg'); ?>" name="wpsg_redirect_basket" />
		</div>
		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<input type="submit" id="wpsg_checkout2button" class="btn btn-block btn-success" value="<?php echo __('weiter', 'wpsg'); ?>" name="wpsg_checkout" />
		</div>

		<div class="wpsg_clear"></div>

		<?php $this->ClearSessionErrors(); ?>
	 
	</form>
	
	<script type="text/javascript">/* <![CDATA[ */

		jQuery(document).ready(function() {
			jQuery('#wpsg_checkout_set_comment').bind('change', function() { 
				if (jQuery(this).attr('checked') == true || jQuery(this).attr('checked') == "checked") jQuery('#wpsg_checkout_comment').show();
				else jQuery('#wpsg_checkout_comment').hide();
			} );
		} );

	/* ]]> */</script>
	
</div>