<?php

	/**
	 * Template für die Zusammenfassung der Bestellung
	 * Anzeige vor dem Abschluß einer Bestellung
	 */

	//wpsg_debug($this->view['basket']);
 
?>
<br />
<div>

	<?php echo $this->writeFrontendMessage(); ?>

	<form method="post" action="<?php echo $this->getURL(wpsg_ShopController::URL_BASKET); ?>">

		<fieldset>
			<legend><h2><?php echo __('Zusammenfassung', 'wpsg'); ?></h2></legend>
		
			<?php if (!$this->hasMod('wpsg_mod_ordercondition')) { ?>
				<div class="checkbox col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label for="require_agb">
						<input type="checkbox" value="1" name="wpsg[agb]" id="require_agb" />
						<?php echo wpsg_translate(__('Ich habe die #1# des Anbieters gelesen und erkläre mit dem Absenden der Bestellung mein Einverständnis. Die #2# habe ich zur Kenntnis genommen.', 'wpsg'),
							'<a target="_blank" href="'.$this->getURL(wpsg_ShopController::URL_AGB).'">'.__('AGB', 'wpsg').'</a>',
							'<a target="_blank" href="'.$this->getURL(wpsg_ShopController::URL_WIDERRUF).'">'.__('Widerrufsbelehrung', 'wpsg').'</a>');
						?>
					</label>
				</div>
			<?php } ?>

			<?php $this->callMods('overview_top', array(&$this->view['basket'])); ?>

		</fieldset>

		<br />
		<fieldset>
			<legend><?php echo __('Zahlung/Versand', 'wpsg'); ?>&nbsp;<?php echo wpsg_translate(__('[<a href="#1#">Ändern</a>]', 'wpsg'), $this->getURL(wpsg_ShopController::URL_CHECKOUT2)); ?></legend>

			<div class="payment col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<?php echo wpsg_hspc($this->arPayment[$this->view['basket']['checkout']['payment']]['name']); ?>
			</div>
			<div class="shipping col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<?php echo wpsg_hspc($this->arShipping[$this->view['basket']['checkout']['shipping']]['name']); ?>
			</div>
		</fieldset>

		<br />
		<fieldset>
			<?php if ($this->view['basket']['checkout']['diff_shippingadress'] == '1') { ?>
				<legend><?php echo __('Rechnungsanschrift', 'wpsg'); ?>&nbsp;<?php echo wpsg_translate(__('[<a href="#1#">Ändern</a>]', 'wpsg'), $this->getURL(wpsg_ShopController::URL_CHECKOUT)); ?></legend>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<?php if (trim($this->view['basket']['checkout']['firma']) != '') { ?>
						<?php echo wpsg_hspc($this->view['basket']['checkout']['firma']); ?><br />
					<?php } ?>
					<?php echo wpsg_hspc(($this->view['basket']['checkout']['title'] != '' && $this->view['basket']['checkout']['title'] != '-1')?$this->view['basket']['checkout']['title']:''); ?> <?php echo wpsg_hspc($this->view['basket']['checkout']['vname']); ?> <?php echo wpsg_hspc($this->view['basket']['checkout']['name']); ?><br />
					<?php echo wpsg_hspc($this->view['basket']['checkout']['strasse']); ?><br />
					<?php echo wpsg_hspc($this->view['basket']['checkout']['plz']); ?> <?php echo wpsg_hspc($this->view['basket']['checkout']['ort']); ?><br />
					<?php if (wpsg_isSizedArray($this->view['basket']['land'])) { ?>
						<?php echo wpsg_hspc($this->view['basket']['land']['name']); ?>
					<?php } ?>
				</div>
				<div class="wpsg_clear"></div>
				<br />

				<legend><?php echo __('Lieferanschrift', 'wpsg'); ?>&nbsp;<?php echo wpsg_translate(__('[<a href="#1#">Ändern</a>]', 'wpsg'), $this->getURL(wpsg_ShopController::URL_CHECKOUT)); ?></legend>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<?php if (trim($this->view['basket']['checkout']['shipping_firma']) != '') { ?>
						<?php echo wpsg_hspc($this->view['basket']['checkout']['shipping_firma']); ?><br />
					<?php } ?>
					<?php echo (($this->view['basket']['checkout']['shipping_title'] != '' && $this->view['basket']['checkout']['shipping_title'] != '-1')?$this->view['basket']['checkout']['shipping_title']:''); ?> <?php echo wpsg_hspc($this->view['basket']['checkout']['shipping_vname']); ?> <?php echo wpsg_hspc($this->view['basket']['checkout']['shipping_name']); ?><br />
					<?php echo wpsg_hspc($this->view['basket']['checkout']['shipping_strasse']); ?><br />
					<?php echo wpsg_hspc($this->view['basket']['checkout']['shipping_plz']); ?> <?php echo wpsg_hspc($this->view['basket']['checkout']['shipping_ort']); ?><br />
					<?php if (wpsg_isSizedArray($this->view['basket']['shipping_land'])) { ?>
						<?php echo wpsg_hspc($this->view['basket']['shipping_land']['name']); ?>
					<?php } ?>
				</div>
				<div class="wpsg_clear"></div>
				<br />

			<?php } else { ?>

				<legend><?php echo __('Liefer- und Rechnungsanschrift', 'wpsg'); ?>&nbsp;<?php echo wpsg_translate(__('[<a href="#1#">Ändern</a>]', 'wpsg'), $this->getURL(wpsg_ShopController::URL_CHECKOUT)); ?></legend>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<?php if (trim($this->view['basket']['checkout']['firma']) != '') { ?>
						<?php echo wpsg_hspc($this->view['basket']['checkout']['firma']); ?><br />
					<?php } ?>
					<?php echo wpsg_hspc(($this->view['basket']['checkout']['title'] != '' && $this->view['basket']['checkout']['title'] != '-1')?$this->view['basket']['checkout']['title']:''); ?> <?php echo $this->view['basket']['checkout']['vname']; ?> <?php echo $this->view['basket']['checkout']['name']; ?><br />
					<?php echo wpsg_hspc($this->view['basket']['checkout']['strasse']); ?><br />
					<?php echo wpsg_hspc($this->view['basket']['checkout']['plz']); ?> <?php echo wpsg_hspc($this->view['basket']['checkout']['ort']); ?><br />
					<?php if (wpsg_isSizedArray($this->view['basket']['land'])) { ?>
						<?php echo wpsg_hspc($this->view['basket']['land']['name']); ?>
					<?php } ?>
				</div>
				<div class="wpsg_clear"></div>
				<br />

			<?php } ?>
		</fieldset>

		<?php /* if (wpsg_isSizedString($this->view['basket']['checkout']['ustidnr'])) { ?>
			<?php echo __('UStIdNr.', 'wpsg'); ?>: <?php echo wpsg_hspc($this->view['basket']['checkout']['ustidnr']); ?><br /><br />
		<?php } */ ?>

		<br />
		<fieldset>
			<legend><?php echo __('Bestellte Produkte', 'wpsg'); ?>&nbsp;<?php echo wpsg_translate(__('[<a href="#1#">Ändern</a>]', 'wpsg'), $this->getURL(wpsg_ShopController::URL_BASKET)); ?></legend>

			<div>
				<table class="table table-responsive">
					<tr>
						<th><?php echo __("Anzahl", "wpsg"); ?></th>
						<th><?php echo __('Einzelpreis', 'wpsg'); ?></th>
						<?php if (sizeof($this->view['basket']['mwst']) > 1 || $this->get_option('wpsg_showMwstAlways') == '1') { ?>
						<th><?php echo __("MwSt.", "wpsg"); ?></th>
						<?php } ?>
						<th><?php echo __("Gesamtpreis", "wpsg"); ?></th>
					</tr>
					<?php $i = 0; foreach ($this->view['basket']['produkte'] as $produkt_key => $p) { $i ++; ?>
					<?php $strOverviewRow = ''; ob_start(); $this->callMods('overview_row', array(&$p, $i)); $strOverviewRow = ob_get_contents(); ob_end_clean(); ?>
					<tr class="wpsg_<?php echo (($i % 2 == 0)?'odd':'even'); ?>">
						<td rowspan="<?php echo 2 + substr_count($strOverviewRow, '<tr'); ?>">
							<?php echo wpsg_hspc($p['menge']); ?>
						</td>
						<td><?php echo wpsg_ff($p['preis']); ?> <?php echo $this->get_option('wpsg_currency'); ?></td>
						<?php if (sizeof($this->view['basket']['mwst']) > 1 || $this->get_option('wpsg_showMwstAlways') == '1') { ?>
						<td><?php echo wpsg_ff($p['mwst_value']); ?> %</td>
						<?php } ?>
						<td><?php echo wpsg_ff($p['menge'] * $p['preis']); ?> <?php echo $this->get_option('wpsg_currency'); ?></td>
					</tr>
					<tr class="wpsg_<?php echo (($i % 2 == 0)?'odd':'even'); ?>">
						<td colspan="<?php echo $this->view['colspan']; ?>" class="wpsg_cell_name">
							<?php if ($this->get_option('wpsg_mod_produktbilder_overviewimage') == '1' && $this->hasMod('wpsg_mod_produktbilder')) {

								if (wpsg_isSizedString($p['varianten_image'])) $arBilder = array($p['varianten_image']);
								else $arBilder = $this->callMod('wpsg_mod_produktbilder', 'getProduktBilder', array($this->getProduktID($p['id'])));

							?>
							<div class="wpsg_overview_productimage col-xs-4 col-sm-3 col-md-2 col-lg-2">
								<?php if (wpsg_isSizedString($arBilder[0])) { ?>
									<?php if ($this->getProduktLink($p)) { ?>
										<a href="<?php echo $this->getProduktLink($p); ?>">
											<img class="img-responsive" src="<?php echo $this->callMod('wpsg_mod_produktbilder', 'makeTn', array($this->getProduktID($p['id']), $arBilder[0], 100, 100, 'c')); ?>" alt="<?php echo wpsg_hspc((($p['detailname'] != '')?$p['detailname']:$p['name'])); ?>" />
										</a>
									<?php } else { ?>
										<img src="<?php echo $this->callMod('wpsg_mod_produktbilder', 'makeTn', array($this->getProduktID($p['id']), $arBilder[0], 100, 100, 'c')); ?>" alt="<?php echo wpsg_hspc((($p['detailname'] != '')?$p['detailname']:$p['name'])); ?>" />
									<?php } ?>
								<?php } ?>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<?php } ?>
								<?php if ($this->getProduktLink($p)) { ?>
									<a href="<?php echo $this->getProduktLink($p); ?>"><?php echo wpsg_hspc((($p['detailname'] != '')?$p['detailname']:$p['name'])); ?></a>
								<?php } else { ?>
									<?php echo wpsg_hspc((($p['detailname'] != '')?$p['detailname']:$p['name'])); ?>
								<?php } ?>

								<div class="clearfix"></div>
								<br />
								<?php echo $strOverviewRow; ?>
							</div>
						</td>
					</tr>
					<?php } ?>
					<?php  if (isset($this->view['basket']['gs'])) { ?>
					<tr>
						<td rowspan="2">1</td>
						<td><?php echo '-'.wpsg_ff($this->view['basket']['sum']['gs'], $this->get_option('wpsg_currency')); ?></td>
						<?php if (sizeof($this->view['basket']['mwst']) > 1 || $this->get_option('wpsg_showMwstAlways') == '1') { ?>
						<td><?php echo __('anteilig', 'wpsg'); ?></td>
						<?php } ?>
						<td><?php echo '-'.wpsg_ff($this->view['basket']['sum']['gs'], $this->get_option('wpsg_currency')); ?></td>
					</tr>
					<tr>
						<td colspan="<?php echo $this->view['colspan']; ?>"><?php echo __('Gutschein', 'wpsg'); ?> <?php echo ($this->view['basket']['gs']['code'] != '')? '('.$this->view['basket']['gs']['code'].')':'' ?></td>
					</tr>
					<?php } ?>
					<?php if (isset($this->view['basket']['sum']['preis_rabatt']) && wpsg_tf($this->view['basket']['sum']['preis_rabatt']) > 0) { ?>
					<tr>
						<td rowspan="2"></td>
						<td><?php echo '-'.wpsg_ff($this->view['basket']['sum']['preis_rabatt'], $this->get_option('wpsg_currency')); ?></td>
						<?php if (sizeof($this->view['basket']['mwst']) > 1 || $this->get_option('wpsg_showMwstAlways') == '1') { ?>
						<td><?php echo __('anteilig', 'wpsg'); ?></td>
						<?php } ?>
						<td><?php echo '-'.wpsg_ff($this->view['basket']['sum']['preis_rabatt'], $this->get_option('wpsg_currency')); ?></td>
					</tr>
					<tr>
						<td colspan="<?php echo $this->view['colspan']; ?>"><?php echo __('Rabatt', 'wpsg'); ?></td>
					</tr>
					<?php } ?>
					<tr>
						<td colspan="<?php echo $this->view['colspan']; ?>">
							<div class="pull-right">
								<?php if ($this->get_option('wpsg_kleinunternehmer') == '1') { ?>
									<?php echo wpsg_translate(__('Summe (zzgl. #1#)', 'wpsg'), '<a href="'.$this->getURL(wpsg_ShopController::URL_VERSANDKOSTEN).'">'.__('Versandkosten', 'wpsg').'</a>'); ?>:
								<?php } else { ?>
									<?php if ($this->getFrontendTaxview() == WPSG_NETTO) { ?>
									<?php echo wpsg_translate(__('Summe (zzgl. #1#, zzgl. MwSt.)', 'wpsg'), '<a href="'.$this->getURL(wpsg_ShopController::URL_VERSANDKOSTEN).'">'.__('Versandkosten', 'wpsg').'</a>'); ?>:
									<?php } else { ?>
									<?php echo wpsg_translate(__('Summe (zzgl. #1#, inkl. MwSt.)', 'wpsg'), '<a href="'.$this->getURL(wpsg_ShopController::URL_VERSANDKOSTEN).'">'.__('Versandkosten', 'wpsg').'</a>'); ?>:
									<?php } ?>
								<?php } ?>
							</div>
						</td>
						<td>
							<?php echo wpsg_ff($this->view['basket']['sum']['preis']); ?> <?php echo $this->get_option('wpsg_currency'); ?>
						</td>
					</tr>
					<?php if ($this->view['basket']['sum']['preis_shipping'] != 0 || $this->get_option('wpsg_hideemptyshipping') != '1') { ?>
					<tr>
						<td colspan="2">
							<div class="pull-right">
								<?php echo wpsg_translate(__('<a href="#1#">Versandkosten</a> (#2#)', 'wpsg'),
									$this->getURL(wpsg_ShopController::URL_VERSANDKOSTEN),
									$this->arShipping[$this->view['basket']['checkout']['shipping']]['name']
								); ?>:
							</div>
						</td>
						<?php if (sizeof($this->view['basket']['mwst']) > 1 || $this->get_option('wpsg_showMwstAlways') == '1') { ?>
							<td>
								<?php if (isset($this->view['basket']['shipping']['tax_rata']) && $this->view['basket']['shipping']['tax_rata'] === true) { ?>
								<?php echo __('anteilig', 'wpsg'); ?>
								<?php } else { ?>
								<?php echo wpsg_ff($this->arShipping[$this->view['basket']['checkout']['shipping']]['mwst_value'], '%'); ?>
								<?php } ?>
							</td>
						<?php } ?>
						<td>
							<?php echo wpsg_ff($this->view['basket']['sum']['preis_shipping'], $this->get_option('wpsg_currency')); ?>
						</td>
					</tr>
					<?php } ?>
					<?php if ($this->view['basket']['sum']['preis_payment'] != 0 || $this->get_option('wpsg_hideemptypayment') != '1') { ?>
					<tr>
						<td colspan="2">
							<div class="pull-right">
								<?php echo wpsg_translate(__('Zahlungsart (#1#)', 'wpsg'), $this->arPayment[$this->view['basket']['checkout']['payment']]['name']); ?>:
							</div>
						</td>
						<?php if (sizeof($this->view['basket']['mwst']) > 1 || $this->get_option('wpsg_showMwstAlways') == '1') { ?>
							<td>
							<?php if (isset($this->view['basket']['payment']['tax_rata']) && $this->view['basket']['payment']['tax_rata'] === true) { ?>
								<?php echo __('anteilig', 'wpsg'); ?>
							<?php } else { ?>
								<?php echo wpsg_ff($this->arPayment[$this->view['basket']['checkout']['payment']]['mwst_value'], '%'); ?>
							<?php } ?>
							</td>
						<?php } ?>
						<td>
							<?php echo wpsg_ff($this->view['basket']['sum']['preis_payment'], $this->get_option('wpsg_currency')); ?>
						</td>
					</tr>
					<?php } ?>

					<?php if ($this->get_option("wpsg_kleinunternehmer") == "1") { ?>
						<tr>
							<td colspan="<?php echo $this->view['colspan'] + 1; ?>">
								<?php echo $this->get_option('wpsg_kleinunternehmer_text'); ?>
							</td>
						</tr>
						<tr>
							<td colspan="<?php echo $this->view['colspan']; ?>">
								<div class="pull-right">
									<?php echo __('Gesamtpreis', 'wpsg'); ?>:
								</div>
							</td>
							<td>
								<?php echo wpsg_ff($this->view['basket']['sum']['preis_gesamt_brutto']); ?> <?php echo $this->get_option('wpsg_currency'); ?>
							</td>
						</tr>
					<?php } else { ?>
					<tr>
						<td colspan="<?php echo $this->view['colspan']; ?>">
							<div class="pull-right">
								<?php echo __('Gesamtpreis (Netto)', 'wpsg'); ?>:
							</div>
						</td>
						<td>
							<?php echo wpsg_ff($this->view['basket']['sum']['preis_gesamt_netto']); ?> <?php echo $this->get_option('wpsg_currency'); ?>
						</td>
					</tr>
					<?php foreach ($this->view['basket']['mwst'] as $mwst_id => $mwst) { ?>
					<tr>
						<td colspan="<?php echo $this->view['colspan']; ?>">
							<div class="pull-right">
								<?php echo wpsg_translate(__('zuzüglich MwSt. (#1#)', 'wpsg'), $mwst['name']); ?>
							</div>
						</td>
						<td>
							<?php echo wpsg_ff($mwst['sum']); ?> <?php echo $this->get_option('wpsg_currency'); ?>
						</td>
					</tr>
					<?php } ?>
					<tr>
						<td colspan="<?php echo $this->view['colspan']; ?>">
							<div class="pull-right">
								<strong>
									<?php echo __('Gesamtpreis (Brutto)', 'wpsg'); ?>:
								</strong>
							</div>
						</td>
						<td>
							<strong>
								<?php echo wpsg_ff($this->view['basket']['sum']['preis_gesamt_brutto'], $this->get_option('wpsg_currency')); ?>
							</strong>
						</td>
					</tr>
					<?php } ?>

					<?php $this->callMods('overview_row_end', array(&$this->view)); ?>

				</table>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<?php echo __('Sofern die Lieferung in das Nicht-EU-Ausland erfolgt, können weitere Zölle, Steuern oder Gebühren vom Kunden zu zahlen sein, jedoch nicht an den Anbieter, sondern an die dort zuständigen Zoll- bzw. Steuerbehörden. Dem Kunden wird empfohlen, die Einzelheiten vor der Bestellung bei den Zoll- bzw. Steuerbehörden zu erfragen.', 'wpsg'); ?>
				</div>
			</div>
		</fieldset>
		
		<br />
		
		<?php if ($this->view['basket']['checkout']['comment'] != '') { ?>
			<fieldset>
				<legend><?php echo __('Bestellkommentar', 'wpsg'); ?>&nbsp;<?php echo wpsg_translate(__('[<a href="#1#">Ändern</a>]', 'wpsg'), $this->getURL(wpsg_ShopController::URL_CHECKOUT)); ?></legend>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<?php echo $this->view['basket']['checkout']['comment'] ?>
				</div>
			</fieldset>
		<?php }?>				
		
				
		<?php $this->callMods('overview_inner_prebutton', array(&$this->view)); ?>
				
		<div class="wpsg_clear"></div>
				
		<br />

		<div class="form-group col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-6 col-md-3 col-lg-offset-6 col-lg-3">
			<input type="submit" onclick="location.href='<?= $this->getURL(wpsg_ShopController::URL_CHECKOUT2); ?>'; return false;" class="btn btn-block btn-default" value="<?php echo __('zurück', 'wpsg'); ?>" name="wpsg_redirect_checkout" />
		</div>
		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<input type="submit" class="btn btn-block btn-success" value="<?php echo __('Zahlungspflichtig bestellen', 'wpsg'); ?>" name="wpsg_order" />
		</div>

		<div class="wpsg_clear"></div>
		
	</form>		

</div>
