<fieldset>
	<legend><?php echo __('Gesonderte Lieferadresse', 'wpsg'); ?></legend>

	<div class="checkbox col-xs-12 col-sm-6 col-md-7 col-lg-6">
		<label for="act_checkout_shippingadress">
			<input id="act_checkout_shippingadress" class="wpsg_checkout formfield_checkbox" type="checkbox" name="wpsg[checkout][diff_shippingadress]" value="" <?php echo ($_SESSION['wpsg']['checkout']['diff_shippingadress'] == 1)? 'checked="checked"':'' ?> onclick="view_checkout_shippingadresss()" />
			<?php echo __('Gesonderte Lieferadresse abweichend von der Rechnungsadresse verwenden', 'wpsg') ?>
		</label>
	</div>

	<div class="checkout_shippingadress" style="display:none;">

		<div class="col-xs-12">&nbsp;</div>
		<div class="form-group col-xs-12<?php echo ((in_array("shipping_firma", (array)$this->view['error']))?' has-error':''); ?>">
			<label for="shipping_firma" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Firma", "wpsg"); ?>&nbsp:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<input class="form-control" type="text" id="shipping_firma" name="wpsg[checkout][shipping_firma]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['shipping_firma']); ?>" placeholder="<?= __("Firma", "wpsg"); ?>" />
			</div>
		</div>

		<div class="form-group col-xs-12<?php echo ((in_array("title", (array)$this->view['error']))?' has-error':''); ?>">
			<label for="shipping_title" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Anrede", "wpsg"); ?>&nbsp*:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<select class="form-control validate[required_shipping]" id="shipping_title" name="wpsg[checkout][shipping_title]">
					<?php foreach (explode("|", $this->view['pflicht']['anrede_auswahl']) as $t) { ?>
						<option value="<?php echo $t; ?>" <?php echo (($this->view['basket']['checkout']['shipping_title'] == $t)?'selected="selected"':''); ?>><?php echo $t; ?></option>
					<?php } ?>
				</select>
			</div>
		</div>

		<div class="form-group col-xs-12<?php echo ((in_array("shipping_vname", (array)$this->view['error']))?' has-error':''); ?>">
			<label for="shipping_vname" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Vorname", "wpsg"); ?>&nbsp*:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<input class="form-control validate[required_shipping]" type="text" id="shipping_vname" name="wpsg[checkout][shipping_vname]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['shipping_vname']); ?>" placeholder="<?= __("Vorname", "wpsg"); ?>" />
			</div>
		</div>

		<div class="form-group col-xs-12<?php echo ((in_array("shipping_name", (array)$this->view['error']))?' has-error':''); ?>">
			<label for="shipping_name" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Name", "wpsg"); ?>&nbsp*:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<input class="form-control validate[required_shipping]" type="text" id="shipping_name" name="wpsg[checkout][shipping_name]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['shipping_name']); ?>" placeholder="<?= __("Name", "wpsg"); ?>" />
			</div>
		</div>

		<div class="form-group col-xs-12<?php echo ((in_array("shipping_strasse", (array)$this->view['error']))?' has-error':''); ?>">
			<label for="shipping_strasse" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Strasse & Nr.", "wpsg"); ?>&nbsp*:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<input class="form-control validate[required_shipping]" type="text" id="shipping_strasse" name="wpsg[checkout][shipping_strasse]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['shipping_strasse']); ?>" placeholder="<?= __("Strasse & Nr.", "wpsg"); ?>" />
			</div>
		</div>

		<div class="form-group col-xs-12<?php echo ((in_array("shipping_plz", (array)$this->view['error']))?' has-error':''); ?>">
			<label for="shipping_plz" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Postleitzahl", "wpsg"); ?>&nbsp*:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<input class="form-control validate[required_shipping]" type="text" id="shipping_plz" name="wpsg[checkout][shipping_plz]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['shipping_plz']); ?>" placeholder="<?= __("Postleitzahl", "wpsg"); ?>" />
			</div>
		</div>

		<div class="form-group col-xs-12<?php echo ((in_array("shipping_ort", (array)$this->view['error']))?' has-error':''); ?>">
			<label for="shipping_ort" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Ort", "wpsg"); ?>&nbsp*:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<input class="form-control validate[required_shipping]" type="text" id="shipping_ort" name="wpsg[checkout][shipping_ort]" value="<?php echo htmlspecialchars($this->view['basket']['checkout']['shipping_ort']); ?>" placeholder="<?= __("Ort", "wpsg"); ?>" />
			</div>
		</div>

		<div class="form-group col-xs-12<?php echo ((in_array("shipping_land", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_land">
			<label for="shipping_land" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
				<?php echo __("Land", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['land'] != '1') { ?>*<?php } ?>:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<select class="form-control validate[required]" id="shipping_land" name="wpsg[checkout][shipping_land]">
					<option value="-1"><?php echo __('Bitte Land auswählen', 'wpsg'); ?></option>
					<?php foreach ($this->view['laender'] as $l) { ?>
						<option value="<?php echo $l['id']; ?>" <?php echo (($l['id'] == $this->view['basket']['checkout']['shipping_land'])?'selected="selected"':''); ?>><?php echo wpsg_hspc($l['name']); ?></option>
					<?php } ?>
				</select>
			</div>
		</div>

		<script type="text/javascript">/* <![CDATA[ */

			function view_checkout_shippingadresss()
			{

				if (jQuery('#act_checkout_shippingadress').prop('checked') != true)
				{

					jQuery('.checkout_shippingadress').attr('style', 'display:none;');
					jQuery('#act_checkout_shippingadress').attr('value', null);

					<?php if ($this->get_option('wpsg_form_validation') == '2') { ?>
					jQuery.validator.removeClassRules('validate[required_shipping]', { cRequired: true } );
					<?php } ?>

				}

				if (jQuery('#act_checkout_shippingadress').prop('checked') == true)
				{

					jQuery('.checkout_shippingadress').attr('style', 'display:display;');
					jQuery('#act_checkout_shippingadress').attr('value', 1);

					<?php if ($this->get_option('wpsg_form_validation') == '2') { ?>
					jQuery.validator.addClassRules('validate[required_shipping]', { cRequired: true } );
					<?php } ?>

				}

				return false;

			}

			jQuery(document).ready(function()
			{

				view_checkout_shippingadresss();

			});

		/* ]]> */</script>
	</div>
</fieldset>
<br />