<?php

	/**
	 * Template für die Integration der Bestellbedingungen in die Bestellzusammenfassung
	 */

	// Die Mindestlänge, damit der Text in einer Scrollbox angezeigt wird
	$minLength = 1000;

?>
<?php foreach ($this->view['wpsg_mod_ordercondition']['data'] as $oc) { ?>

	<div class="checkbox col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<label>
			<input type="checkbox" value="1" name="wpsg_mod_ordercondition[<?php echo $oc['id']; ?>]" />
			<?php if (strlen($oc['text']) < $minLength) { ?>
				<?php echo $oc['text']; ?>
			<?php } else { ?>
				<?php echo __($oc['name'], 'wpsg'); ?>
			<?php } ?>
			<?php if (strlen($oc['text']) >= $minLength) { ?>
				<?php echo $oc['text']; ?>
			<?php } ?>
		</label>
	</div>

<?php } ?>