/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 200px;
  margin-bottom: 5px;

  @media (min-width: 768px) {
    height: 81vh; /* 81% of height of the browser view point */
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;

  @media (min-width: 768px) {
    height: 81vh;
  }
}
.carousel-inner > .item {
  background-position: center center;
  background-size: cover;
}