/* Styles für Category-Liste (verwenden derselben CSS-Eigenschaften wie aus start.less) */

.start-new,
.category-container {

  .category-title {
    .start-new .start-new-title;
  }
}

@media (min-width: 768px) {
  /* Beim 1. und 2. Element die Außenabstände anpassen */
  .category-container form:nth-child(odd) .start-new-item {
    margin-left: 2.5px;
    margin-right: 0;
  }
  .category-container form:nth-child(even) .start-new-item {
    margin-left: 0;
    margin-right: 2.5px;
  }
}

@media (min-width: 992px) {
  /* Beim 1. und 3. Element die Außenabstände anpassen */
  .category-container form:nth-child(odd) .start-new-item,
  .category-container form:nth-child(even) .start-new-item {
    margin: 0 2.5px 7.5px 2.5px;
  }
  .category-container form:nth-child(3n-1) .start-new-item {
    margin-left: 0;
    margin-right: 5px;
  }
  .category-container form:nth-child(3n+1) .start-new-item {
    margin-left: 5px;
    margin-right: 0;
  }
}