/* Footer Styles */

footer {
  background-color: @light-blue;
  color: @white;
  // Footer immer ganz unten Ausrichte, völlig unabhängig von der Höhe des Inhalts
  margin-top: -344px;

  a {
    color: @white;
  }
  a:hover {
    color: @white;
    opacity: 0.8;
    filter:Alpha(Opacity=80);
  }

  > .container {
    padding: 70px 0 100px 0;

    > .row {
      margin-left: @margin-left;
      margin-right: @margin-right;
    }
  }

  /* Footer Bottom Zeile */
  .footer-bottom {
    background-color: @dark-blue;

    .footer-bottom-item {
      padding: 0;
      text-align: center;
      text-transform: uppercase;

      .footer-bottom-item-inner  {
        margin: 20px 0;
        line-height: 14px;

        @media (min-width: 768px) {
          border-right: 2px solid @white;
        }
      }
    }

    .footer-bottom-item:last-child > .footer-bottom-item-inner  {
      border: none;
    }
  }
}

//body { padding-bottom: 368px; }