/* Styles für Text im Header */

.head-text,
.head-text-start {
  position: absolute;
  z-index: 99;
  bottom: 0;
  font-size: 18px;

  .head-text-inner,
  .head-text-start-inner {
    margin: 10px;
  }
}

.head-text::before,
.head-text-start::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: @white;
  opacity: .8;
}

