/* Logo Styles */

.logo-background {
  height: 130px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 5px;
}

.logo-wrapper,
.logo-start-wrapper {
  position: absolute;
  float: left;
  z-index: 99;
  margin-bottom: 5px;
  margin-left: @margin-left;
}

.logo-start-wrapper {
  @media (min-width: 768px) {
    position: absolute;
    top: 15vh; /* 15% of the height of the browser view point */
  }
}

.logo-img {
  position: relative;
}

/* Hintergrund Transparenz für Logo */
.logo-img::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: @white;
  opacity: .5;
}

/* Bugfix Firefox image responsiveness */
.logo-img img {
  width: 100%;
}

.logo-subtitle {
  float: right;
  color: @white;
  font-size: 25px;

  display: inline-block;
  position: relative;

  span {
    padding: 0 20px;
  }
}

/* Hintergrund Transparenz für Unterüberschrift */
.logo-subtitle::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
}