/* Sammlung verschiedener allgemeingültigen Styles */

html {
  height: 100%; // HTML und BODY Höhe auf 100% stellen. Wird benötigt damit Footer immer ganz unten platziert wird
}

/* Schriftart "Exo" festlegen */
body {
  font-family: Exo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

// Wird benötigt damit Footer im ganz unten platziert wird
.content {
  min-height: 100%;
  padding-bottom: 344px // Höhe des Footers
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  opacity: 0.8;
  filter:Alpha(Opacity=80);
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  color: @black;
}
h1 {
  //font-size: 25px;
  font-size: 2em;
}
h2 {
  //font-size: 20px;
  font-size: 1.2em;
}

.container > .row {
  margin-left: @margin-left;
  margin-right: @margin-right;
}
