/* Hauptmenü Styles */

nav.navbar {
  margin-left: @margin-left;
  margin-right: @margin-right;

  background-color: @dark-blue;
  border: none;
  color: @white;

  a {
    color: white;
  }

  .nav > li > a:hover,
  .active {
    background-color: @light-blue;
  }

  .dropdown-menu {
    background-color: @dark-blue;

    li.active a,
    li a:hover,
    li a:focus {
      background-color: @light-blue;
    }
  }

  .nav .open>a,
  .nav .open>a:focus,
  .nav .open>a:hover {
    background-color: @light-blue;
  }

  .navbar-header {

    button {
      border: 1px solid @light-blue;

      .icon-bar {
        background-color: @white;
      }
    }
  }

  ul {
    width: 100%;
  }
}