/* Produkt Styles */

ul.product-breadcrumb {
  list-style: none;
  margin-left: @margin-left;

  li {
    float: left;
    padding: 0 5px;
  }
}

.product-title {
  margin-bottom: 15px;
}

.product-subtitle {
  margin-top: 5px;
  font-style: italic;
}

.product-image-wrapper {
  margin: 0 -15px 5px -15px;
}

.product-image {
  width: 100%;
}

.product-number {
  font-style: italic;
}

.product-price-wrapper {
  margin: 15px 0 5px 0;
}
.product-price {
  font-weight: bold;
  font-size: 20px;
}
.product-price-title {
  font-size: 20px;
}
.product-price-sale {
  color: @red;
}
.product-price-original {
  text-decoration: line-through;
}
.product-price-info {
  color: @grey;
}

.product-deliverytime,
.product-attributes,
.product-basket-wrapper,
.product-description,
.product-info {
  margin: 15px 0;
}

.product-attributes {
  font-size: 20px;
}

.product-info {
  bottom: 0;
  position: absolute;
  font-size: 12px;
}