/* Styles für das Suchformular und -Ergebnisse */

// Vertikal zentrieren parent
.search-form-wrapper {
  display: table;
  height: 50px;
  width: 100%;
  padding: 0 15px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.search-form {
  color: @black;

  // Vertikal zentrieren child
  display: table-cell;
  vertical-align: middle;

  input {
    border: 0;
    margin-right: -3px;
    padding: 7px 7px;
    width: 100%;

    @media (min-width: 768px) {
      padding: 2px 5px;
      width: auto;
    }
  }
  
  button {
    background-color: @black;
    color: @white;
    border: 0;
    height: 24px;
  }
}