/* Styles für Startseiten Objekte */

.start-text {
  padding: 10px;
  border: @light-blue 2px solid;
  margin: 0 @margin-right 5px @margin-left;
  font-size: 22px;

  .author {
    text-align: right;
    font-size: 14px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;

    @media (min-width: 768px) {
      max-width: 500px;
      margin: 0 10px 10px 0;
    }
  }
}

.category-container,
.start-new {

  /* bootstrap grid Abstände anpassen */
  .col-sm-4,
  .col-md-4,
  .col-lg-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .start-new-title {
    padding: 20px;
    margin-bottom: 5px;
    background-color: @light-blue;
    color: @white;

    a {
      color: @white;
    }

    h1,h2 {
      color: @white;
    }
    h1 {
      font-size: 1.2em;
    }
  }

  /* Höhe der Hintergrundbilder dynamisch Anhand des Größenverhältnisses berechnen
     (http://www.mademyday.de/css-height-equals-width-with-pure-css.html) */
  .start-new-item {
    background-position: center center;
    background-size: cover;

    position: relative;
    margin: 0 2.5px 5px 2.5px;

    /* Mouse over Effekt */
    &:hover {
      cursor: pointer;

      .start-new-item-content {
        display: block;
      }
    }

    &:before{
      content: "";
      display: block;
      padding-top: 66%;
    }

    .start-new-item-content {
      position:  absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;

      // Titel auf Mobilgeräten (iPhone/iPad) direkt anzeigen, auf größeren nur per hover einblenden
      @media (min-width: 992px) {
        display: none;
      }

      .start-new-item-transparency {
        display: inline-block;
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: @white;
          opacity: .5;
        }
      }

      .start-new-item-inner {
        padding: 10px;
      }

      .start-new-item-price {
        position: absolute;
        bottom: 0;
        width: 100%;

        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: @light-blue;
          opacity: .5;
        }

        .table {
          margin-bottom: 0;
          color: @black;
        }
      }
    }
  }
}