/* Top-Navigation Styles */

.top-nav-wrapper {
  top: 0;
  position: absolute;
  z-index: 99;
  //font-size: 25px;

  .top-nav-item,
  .top-nav-start-item {
    padding: 0;
    text-align: center;
    color: @white;

    display: inline-block;
    position: relative;

    a {
      color: @white;
    }

    .top-nav-item-inner,
    .top-nav-start-item-inner, {
      margin: 10px 0;
      border-right: 2px solid @white;
    }

    .top-nav-start-item-inner {
      border-right: 2px solid @black;
    }
  }

  .top-nav-start-item {
    color: @black;

    a {
      color: @black;
    }
  }

  /* Hintergrund transparent ohne den Inhalt transparent zu machen
     http://stackoverflow.com/questions/637921/opacity-of-background-color-but-not-the-text */
  .top-nav-item::before,
  .top-nav-start-item::before, {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: @black;
    opacity: .5;
  }

  .top-nav-start-item::before, {
    background: @white;
  }

  .top-nav-item:last-child > .top-nav-item-inner,
  .top-nav-start-item:last-child > .top-nav-start-item-inner {
    border: none;
  }
}