/* Variablen festlegen */

/* Farben */
@white: white;
@black: black;
@light-blue: #7caae7;
@dark-blue: #3c71d1;
@grey: #999;
@red: #d00000;

/* Grid Abstände anpassen */
@margin-left: -12.5px;
@margin-right: -12.5px;