<?php
	/**
	 * Template um die Produktattribute anzuzeigen
	 */
?>
<div class="product-attributes">
	<div class="row">
		<?php foreach ((array)$this->view['wpsg_mod_produktattribute']['data'] as $a) { ?>
			<?php if (wpsg_isSizedString($a['value']) && $a['autoshow'] == '1') { ?>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right"><strong><?php echo __($a['name'], 'wpsg'); ?>:</strong></div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
				<?php
					if ($a['typ'] == 3) { // Checkbox
						echo (($a['value'] == '1')?__('Ja', 'wpsg'):__('Nein', 'wpsg'));
					} else {
						echo $a['value'];
					}
				?>
				</div>
			<?php } ?>
		<?php } ?>
	</div>
</div>



