<?php 

	/**
	 * Template für die Integration des Login Formulares in den Checkout
	 * wird von checkout.phtml eingebunden
	 */

?>
<fieldset>
	<legend><?php echo __('Sie haben bereits ein Kundenkonto? Dann können Sie sich hier einloggen.', 'wpsg'); ?></legend>

	<div class="form-group col-xs-12">
		<label for="wpsg_mod_kundenverwaltung_email" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
			<?php echo __("E-Mail Adresse", "wpsg"); ?>:
		</label>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<input class="form-control <?php echo ((in_array("wpsg_mod_kundenverwaltung_email", (array)$this->view['error']))?'wpsg_error':''); ?>" type="text" id="wpsg_mod_kundenverwaltung_email" name="wpsg[mod_kundenverwaltung][email]" value="" placeholder="Ihre Email Adresse" />
		</div>
	</div>

	<div class="form-group col-xs-12">
		<label for="wpsg_mod_kundenverwaltung_password" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
			<?php echo __("Passwort", "wpsg"); ?>:
		</label>
		<div class="col-xs-12 col-sm-6  col-md-4 col-lg-4">
			<input class="form-control <?php echo ((in_array("wpsg_mod_kundenverwaltung_password", (array)$this->view['error']))?'wpsg_error':''); ?>" type="password" id="wpsg_mod_kundenverwaltung_password" name="wpsg[mod_kundenverwaltung][password]" value="" placeholder="Ihr Passwort wird benötigt" />
		</div>
	</div>

	<div class="form-group col-xs-12">
		<div class="col-xs-12 col-sm-6 col-md-offset-3 col-md-4 col-lg-offset-2 col-lg-4">
			<button type="submit" class="btn btn-primary btn-block" name="wpsg_mod_kundenverwaltung_login">
				<?php echo __('Login', 'wpsg'); ?>
			</button>
		</div>
	</div>

	<div class="form-group col-xs-12">
		<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-9 col-lg-offset-2 col-lg-10">
			<a class="wpsg_pwdvergessen_link" href="<?php echo $this->callMod('wpsg_mod_kundenverwaltung', 'getPwdVergessenURL'); ?>">Passwort vergessen?</a>
		</div>
	</div>

</fieldset>