<?php

	/**
	 * Template für die Registrierung während des Checkouts
	 * wird von checkout.phtml eingebunden
	 */

?>
<div class="form-group col-xs-12<?php echo ((in_array("mod_kundenverwaltung_pwd1", (array)$this->view['error']))?' has-error':''); ?>">
	<label for="wpsg_mod_kundenverwaltung_pwd1" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
		<?php echo __("Passwort", "wpsg"); ?>&nbsp<?php if ($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1') { ?>*<?php } ?>:
	</label>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<input class="form-control <?php echo (($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1')?'validate[required]':''); ?>" <?php if ($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1') { ?>required="required"<?php } ?> type="password" id="wpsg_mod_kundenverwaltung_pwd1" name="wpsg[mod_kundenverwaltung][pwd1]" value="" placeholder="<?= __("Passwort", "wpsg"); ?>" />
	</div>
</div>

<div class="form-group col-xs-12<?php echo ((in_array("mod_kundenverwaltung_pwd2", (array)$this->view['error']))?' has-error':''); ?>">
	<label for="wpsg_mod_kundenverwaltung_pwd2" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
		<?php echo __("Passwort wiederholen", "wpsg"); ?>&nbsp<?php if ($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1') { ?>*<?php } ?>:
	</label>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<input class="form-control <?php echo (($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1')?'validate[required]':''); ?>" <?php if ($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1') { ?>required="required"<?php } ?> type="password" id="wpsg_mod_kundenverwaltung_pwd2" name="wpsg[mod_kundenverwaltung][pwd2]" value="" placeholder="<?= __("Passwort wiederholen", "wpsg"); ?>" />
	</div>
</div>

<div class="wpsg_clear"></div>