<?php

	/**
	 * Template für die Seite, auf der der Kunde sein Passwort erneuern kann
	 */

?>
<br />
<div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<?php echo __('Geben Sie hier die E-Mail Adresse an, mit der Sie bereits bestellt haben. Sie erhalten dann eine E-Mail mit der Aufforderung ein neues Passwort zu generieren.', 'wpsg'); ?>
	</div>

	<div class="wpsg_clear"></div><br />

	<?php echo $this->writeFrontendMessage(); ?>
	
	<form method="post" action="<?php echo $this->callMod('wpsg_mod_kundenverwaltung', 'getRegisterURL'); ?>">
		
		<fieldset>
			<legend><?php echo __('Neues Passwort anfordern', 'wpsg'); ?></legend>

			<div class="form-group col-xs-12<?php echo ((in_array("email", (array)$this->view['error']))?' wpsg_error':''); ?>" id="wpsg_sendpw">
				<label for="wpsg_email" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("E-Mail Adresse", "wpsg"); ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['firma'] != '1')?'validate[required]':''); ?>"  type="email" id="wpsg_email" name="wpsg[sendpwd][email]" value="" placeholder="<?= __("E-Mail Adresse", "wpsg"); ?>" />
				</div>
			</div>
		</fieldset>

		<div class="wpsg_clear"></div><br />

		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<input type="submit" class="btn btn-block btn-success" value="<?php echo __('Passwort anfordern', 'wpsg'); ?>" name="wpsg_mod_kundenverwaltung_sendpwd" />
		</div>

		<?php $this->ClearSessionErrors(); ?>

	</form>
</div>