<?php

	/**
	 * Dieses Template wird angezeigt, wenn z.B. auf die Profilseite zugegriffen wird und der User nicht eingelogt ist
	 */

?>

<form method="post" action="<?php echo $this->callMod('wpsg_mod_kundenverwaltung', 'getProfilURL'); ?>">

	<br />
	<fieldset>
		<legend><?php echo __('Bereits Kunde? Hier einloggen ...', 'wpsg'); ?></legend>

		<?php echo $this->writeFrontendMessage(); ?>

		<div class="form-group col-xs-12">
			<label for="wpsg_mod_kundenverwaltung_email" class="col-md-1 col-lg-1 control-label hidden-xs hidden-sm">
				<?php echo __("E-Mail", "wpsg"); ?>:
			</label>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<input class="form-control" type="text" id="wpsg_mod_kundenverwaltung_email" name="wpsg[mod_kundenverwaltung][email]" value="<?php echo wpsg_getStr($this->view['wpsg_mod_kundenverwaltung']['email']); ?>" placeholder="Ihre Email Adresse" />
			</div>
		</div>

		<div class="form-group col-xs-12">
			<label for="wpsg_mod_kundenverwaltung_password" class="col-md-1 col-lg-1 control-label hidden-xs hidden-sm">
				<?php echo __("Passwort", "wpsg"); ?>:
			</label>
			<div class="col-xs-12 col-sm-6  col-md-4 col-lg-3">
				<input class="form-control" type="password" id="wpsg_mod_kundenverwaltung_password" name="wpsg[mod_kundenverwaltung][password]" value="" placeholder="Ihr Passwort wird benötigt" />
			</div>
		</div>

		<div class="form-group col-xs-12">
			<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-3">
				<button type="submit" class="btn btn-primary btn-block" name="wpsg_mod_kundenverwaltung_login">
					<?php echo __('Login', 'wpsg'); ?>
				</button>
			</div>
		</div>

		<div class="form-group col-xs-12">
			<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
				<a class="wpsg_pwdvergessen_link" href="<?php echo $this->callMod('wpsg_mod_kundenverwaltung', 'getPwdVergessenURL'); ?>">Passwort vergessen?</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
				<?php //TODO: Profil anlegen Link einfügen ?>
<!--				<a class="..." href="--><?php //echo ... ?><!--">Profil anlegen?</a>-->
			</div>
		</div>

	</fieldset>
</form>