<?php

	/**
	 * Seite für das Profil eines Kunden
	 */

?>

<script type="text/javascript">

	jQuery(document).ready(function() {
		
		jQuery("#form-profil").validationEngine('attach', {promptPosition : "centerRight", scroll: false});
		
	} );
		
</script>

<br />
<div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <?php echo wpsg_translate(__('Sie sind eingeloggt. Wenn Sie sich wieder abmelden möchten klicken Sie <strong><a href="#1#">hier</a></strong>.', 'wpsg'), $this->callMod('wpsg_mod_kundenverwaltung', 'getLogoutURL')); ?>
    </div>

    <div class="wpsg_clear"></div><br />

    <?php echo $this->writeFrontendMessage(); ?>

	<form method="post" id="form-profil" action="<?php echo $this->callMod('wpsg_mod_kundenverwaltung', 'getProfilURL'); ?>">

        <fieldset id="wpsg_box_kundendaten">
            <legend><h1><?php echo __('Kundendaten', 'wpsg'); ?></h1></legend>

            <div class="form-group col-xs-12<?php echo ((in_array("firma", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_firma">
                <label for="firma" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Firma", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['firma'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['firma'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['firma'] != '1') { ?>required="required"<?php } ?> type="text" id="firma" name="wpsg[profil][firma]" value="<?php echo htmlspecialchars($this->view['data']['firma']); ?>" placeholder="<?= __("Firma", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("title", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_anrede">
                <label for="title" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Anrede", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['anrede'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <select class="form-control <?php echo (($this->view['pflicht']['anrede'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['anrede'] != '1') { ?>required="required"<?php } ?> id="title" name="wpsg[profil][title]">
                        <option value="-1"><?php echo __('Bitte Anrede auswählen', 'wpsg'); ?></option>
                        <?php foreach (explode("|", $this->view['pflicht']['anrede_auswahl']) as $t) { ?>
                            <option value="<?php echo wpsg_hspc($t); ?>" <?php echo (($this->view['data']['title'] == $t)?'selected="selected"':''); ?>><?php echo $t; ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("vname", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_vorname">
                <label for="vname" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Vorname", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['vname'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['vname'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['vname'] != '1') { ?>required="required"<?php } ?> type="text" id="vname" name="wpsg[profil][vname]" value="<?php echo htmlspecialchars($this->view['data']['vname']); ?>" placeholder="<?= __("Vorname", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("name", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_name">
                <label for="name" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Name", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['name'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['name'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['name'] != '1') { ?>required="required"<?php } ?> type="text" id="name" name="wpsg[profil][name]" value="<?php echo htmlspecialchars($this->view['data']['name']); ?>" placeholder="<?= __("Name", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("email", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_email">
                <label for="email" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("E-Mail Adresse", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['email'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['email'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['email'] != '1') { ?>required="required"<?php } ?> type="email" id="email" name="wpsg[profil][email]" value="<?php echo htmlspecialchars($this->view['data']['email']); ?>" placeholder="<?= __("E-Mail Adresse", "wpsg"); ?>" />
                </div>
            </div>

            <?php if (isset($this->view['pflicht']['emailconfirm']) && $this->view['pflicht']['emailconfirm'] == '1') { ?>
                <div class="form-group col-xs-12<?php echo ((in_array("email", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_email2">
                    <label for="email2" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                        <?php echo __("E-Mail wiederholen", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['email'] != '1') { ?>*<?php } ?>:
                    </label>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <input class="form-control <?php echo (($this->view['pflicht']['email'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['email'] != '1') { ?>required="required"<?php } ?> type="email" id="email2" name="wpsg[profil][email2]" value="<?php echo htmlspecialchars($this->view['data']['email2']); ?>" placeholder="<?= __("E-Mail wiederholen", "wpsg"); ?>" />
                    </div>
                </div>
            <?php } ?>

            <div class="form-group col-xs-12<?php echo ((in_array("geb", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_geburtsdatum">
                <label for="geb" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Geburtsdatum (Format: TT.MM.JJJJ)", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['geb'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['geb'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['geb'] != '1') { ?>required="required"<?php } ?> type="text" id="geb" name="wpsg[profil][geb]" value="<?php echo htmlspecialchars($this->view['data']['geb']); ?>" placeholder="<?= __("Geburtsdatum (Format: TT.MM.JJJJ)", "wpsg"); ?>" />
                </div>
            </div>

            <?php /*
			<div class="form-group col-xs-12<?php echo ((in_array("fax", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_fax">
				<label for="fax" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("Fax", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['fax'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['fax'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['fax'] != '1') { ?>required="required"<?php } ?> type="text" id="fax" name="wpsg[profil][fax]" value="<?php echo htmlspecialchars($this->view['data']['fax']); ?>" placeholder="<?= __("Fax", "wpsg"); ?>" />
				</div>
			</div>
			*/ ?>

            <div class="form-group col-xs-12<?php echo ((in_array("tel", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_telefon">
                <label for="tel" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Telefon Nr.", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['tel'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['tel'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['tel'] != '1') { ?>required="required"<?php } ?> type="text" id="tel" name="wpsg[profil][tel]" value="<?php echo htmlspecialchars($this->view['data']['tel']); ?>" placeholder="<?= __("Telefon Nr.", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("strasse", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_strasse">
                <label for="strasse" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Strasse & Nr.", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['strasse'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['strasse'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['strasse'] != '1') { ?>required="required"<?php } ?> type="text" id="strasse" name="wpsg[profil][strasse]" value="<?php echo htmlspecialchars($this->view['data']['strasse']); ?>" placeholder="<?= __("Strasse & Nr.", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("plz", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_postleitzahl">
                <label for="plz" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Postleitzahl", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['plz'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['plz'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['plz'] != '1') { ?>required="required"<?php } ?> type="text" id="plz" name="wpsg[profil][plz]" value="<?php echo htmlspecialchars($this->view['data']['plz']); ?>" placeholder="<?= __("Postleitzahl", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("ort", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_ort">
                <label for="ort" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Ort", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['ort'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['ort'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['ort'] != '1') { ?>required="required"<?php } ?> type="text" id="ort" name="wpsg[profil][ort]" value="<?php echo htmlspecialchars($this->view['data']['ort']); ?>" placeholder="<?= __("Ort", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("land", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_land">
                <label for="land" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Land", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['land'] != '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <select class="form-control <?php echo (($this->view['pflicht']['land'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['land'] != '1') { ?>required="required"<?php } ?> id="land" name="wpsg[profil][land]">
                        <option value="-1"><?php echo __('Bitte Land auswählen', 'wpsg'); ?></option>
                        <?php foreach ($this->view['laender'] as $l) { ?>
                            <option value="<?php echo wpsg_hspc($l['id']); ?>" <?php echo (($l['id'] == $this->view['data']['land'])?'selected="selected"':((!wpsg_isSizedInt($this->view['data']['land']) && $this->get_option('wpsg_defaultland') == $l['id'])?'selected="selected"':'')); ?>><?php echo wpsg_hspc(__($l['name'], 'wpsg')); ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <?php /*
			<div class="form-group col-xs-12<?php echo ((in_array("ustidnr", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_ustidnr">
				<label for="ustidnr" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
					<?php echo __("UStIdNr", "wpsg"); ?>&nbsp<?php if ($this->view['pflicht']['ustidnr'] != '1') { ?>*<?php } ?>:
				</label>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input class="form-control <?php echo (($this->view['pflicht']['ustidnr'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['ustidnr'] != '1') { ?>required="required"<?php } ?> type="text" id="ustidnr" name="wpsg[profil][ustidnr]" value="<?php echo htmlspecialchars($this->view['data']']['ustidnr']); ?>" placeholder="<?= __("UStIdNr", "wpsg"); ?>" />
				</div>
			</div>
			*/ ?>


            <?php /* Automatische Einbindung der benutzerdefinierten Felder */ ?>
            <?php if ($this->get_option('wpsg_kundenvariablen_show') == '1') { ?>
                <?php foreach ((array)$this->view['pflicht']['custom'] as $c_id => $c) { if ($c['show'] != '2') { ?>
                    <div class="form-group col-xs-12<?php echo ((in_array("custom_".$c_id, (array)$this->view['error']))?' has-error':''); ?>">
                        <label class="col-md-3 col-lg-2 control-label hidden-xs hidd" for="wpsg_cv_<?php echo $c_id; ?>">
                            <?php echo wpsg_hspc(__($c['name'], 'wpsg')); ?>&nbsp;<?php if ($c['show'] == '0') { ?>*<?php } ?>:
                            <?php if ($c['typ'] == '0') { // Textfeld ?>
                                <input class="form-control <?php echo (($c['show'] == '0')?'validate[required]':''); ?>" <?php if ($c['show'] == '0') { ?>required="required"<?php } ?> name="wpsg[profil][custom][<?php echo $c_id; ?>]" type="text" id="wpsg_cv_" value="<?php echo wpsg_hspc($this->view['data']['custom'][$c_id]); ?>" placeholder="<?= wpsg_hspc(__($c['name'], 'wpsg')); ?>" />
                            <?php } else if ($c['typ'] == '1') { $arAuswahl = explode("|", $c['auswahl']); // Auswahlfeld ?>
                                <select class="form-control <?php echo (($c['show'] == '0')?'validate[required]':''); ?>" <?php if ($c['show'] == '0') { ?>required="required"<?php } ?> name="wpsg[profil][custom][<?php echo $c_id; ?>]" id="wpsg_cv_">
                                    <option value="-1"><?php echo __('Bitte Auswählen', 'wpsg'); ?></option>
                                    <?php foreach ((array)$arAuswahl as $a) { ?>
                                        <option value="<?php echo wpsg_hspc($a); ?>" <?php echo (($a == $this->view['data']['custom'][$c_id])?'selected="selected"':''); ?>><?php echo wpsg_hspc($a); ?></option>
                                    <?php } ?>
                                </select>
                            <?php } else if ($c['typ'] == '2') { // Checkbox ?>
                                <div class="checkbox">
                                    <input type="hidden" name="wpsg[profil][custom][<?php echo $c_id; ?>]" value="0" />
                                    <input class="<?php echo (($c['show'] == '0')?'validate[required]':''); ?>" <?php if ($c['show'] == '0') { ?>required="required"<?php } ?> type="checkbox" id="wpsg_cv_" value="1" name="wpsg[profil][custom][<?php echo $c_id; ?>]" value="1" <?php echo wpsg_hspc(($this->view['data']['custom'][$c_id] == '1')?'checked="checked"':''); ?> />
                                </div>
                            <?php } ?>
                        </label>
                    </div>
                <?php } } ?>
            <?php } ?>
            <?php /* Automatische Einbindung der benutzerdefinierten Kundenfelder ENDE */ ?>
            <div class="wpsg_clear"></div>

            <?php $this->callMods('checkout_customer_inner'); ?>

        </fieldset>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <?php echo wpsg_translate(__('Mit #1# gekennzeichnete Felder sind Pflichtfelder.', 'wpsg'), '<span>*</span>'); ?>
        </div>

        <div class="wpsg_clear"></div><br />

        <fieldset>
            <legend><?php echo __("Neues Passwort setzen", "wpsg"); ?></legend>

            <div class="form-group col-xs-12<?php echo ((in_array("mod_kundenverwaltung_pwd1", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_ort">
                <label for="wpsg_mod_kundenverwaltung_pwd1" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Passwort", "wpsg"); ?>&nbsp<?php if ($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['ort'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['ort'] != '1') { ?>required="required"<?php } ?> type="password" id="wpsg_mod_kundenverwaltung_pwd1" name="wpsg[mod_kundenverwaltung][register_pwd1]"" value="" placeholder="<?= __("Passwort", "wpsg"); ?>" />
                </div>
            </div>

            <div class="form-group col-xs-12<?php echo ((in_array("wpsg_mod_kundenverwaltung_pwd2", (array)$this->view['error']))?' has-error':''); ?>" id="wpsg_ort">
                <label for="wpsg_mod_kundenverwaltung_pwd2" class="col-md-3 col-lg-2 control-label hidden-xs hidden-sm">
                    <?php echo __("Passwort wiederholen", "wpsg"); ?>&nbsp<?php if ($this->get_option('wpsg_mod_kundenverwaltung_showCheckoutRegisterzwand') == '1') { ?>*<?php } ?>:
                </label>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <input class="form-control <?php echo (($this->view['pflicht']['ort'] != '1')?'validate[required]':''); ?>" <?php if ($this->view['pflicht']['ort'] != '1') { ?>required="required"<?php } ?> type="password" id="wpsg_mod_kundenverwaltung_pwd2" name="wpsg[mod_kundenverwaltung][register_pwd2]"" value="" placeholder="<?= __("Passwort wiederholen", "wpsg"); ?>" />
                </div>
            </div>
        </fieldset>
		
		<div class="wpsg_clear"></div><br />

        <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <input type="submit" id="wpsg_checkout2button" class="btn btn-block btn-success" value="<?php echo __('Speichern', 'wpsg'); ?>" name="wpsg_mod_kundenverwaltung_save" />
        </div>

        <div class="wpsg_clear"></div>

		<?php $this->ClearSessionErrors(); ?>
	
	</form>
</div>