<?php

	/**
	 * Template für die Produktübersichtsseite (Gitteransicht)
	 */

	/* Modus für das Vorschaubild */
	$bPicMode = 'c';

	/* Höhe und Breite für das Vorschaubild (CSS Layout muss entsprechend angepasst werden) */
	$nPicWidth = 500;
	$nPicHeight = 350;

	/* Wenn es auf false gesetzt wird, wird das erste Bild als Vorschaubild verwendet */
//	$nPicRand = true;

	$col = 4;

?>

<?php

	remove_filter('the_content', array($GLOBALS['wpsg_sc'], 'content_filter'));
	the_content();
	add_filter('the_content', array($GLOBALS['wpsg_sc'], 'content_filter'));

?>


<div class="start-new">
	<?php if (wpsg_isSizedArray($this->view['arProducts'])) { ?>
			<?php
			foreach ($this->view['arProducts'] as $p) {
				$backgroundImage = '';
				if($this->hasMod('wpsg_mod_produktbilder')) {
					$arBilder = $this->callMod('wpsg_mod_produktbilder', 'getProduktBilder', array($p['id']));

					if (wpsg_isSizedArray($arBilder)) {
						$image = $this->callMod('wpsg_mod_produktbilder', 'makeTn', array($p['id'], $arBilder[0], $nPicWidth, $nPicHeight, $bPicMode));
						$backgroundImage = "background-image: url('" . $image . "')";
					}
				}
				?>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<a href="<?= wpsg_url($p['url']); ?>" title="<?php echo __('Zur Detailseite des Produkts', 'wpsg'); ?>">
						<div class="start-new-item" style="<?= $backgroundImage; ?>">
							<div class="start-new-item-content">
								<div class="start-new-item-transparency">
<!--									<a href="--><?//= wpsg_url($p['url']); ?><!--" title="--><?php //echo __('Zur Detailseite des Produkts', 'wpsg'); ?><!--">-->
										<div class="start-new-item-inner">
											<h2><?= $this->getProductName($this->getProduktID($p['id'])); ?></h2>
										</div>
<!--									</a>-->
									<div class="start-new-item-price">
										<table class="table ">
											<tr>
												<td>Preis:</td>
												<td>
													<?php if ($this->hasMod('wpsg_mod_discount') && $p['preis_prediscount'] > 0 && wpsg_isSizedInt($this->get_option('wpsg_mod_discount_show'))) { ?>
														<span class="product-price-sale"><?= wpsg_ff($p['preis'], $this->get_option('wpsg_currency')); ?></span>
														<span class="product-price-original"><?= wpsg_ff($p['preis_prediscount'], $this->get_option('wpsg_currency')); ?></span>
													<?php } else { ?>
														<?= wpsg_ff($p['preis'], $this->get_option('wpsg_currency')); ?>
													<?php } ?>
												</td>
												<td>
													<?php //TODO: Direkt in den Warenkorb legen ?>
													<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			<?php } ?>
	<?php } else { ?>
	<div class="start-empty"><?php echo __('Keine passenden Produkte gefunden.', 'wpsg'); ?></div>
	<?php } ?>
</div>